<link rel="stylesheet" href="/css/chats_section.css">
<div class="header">
    <img src="https://cdn-icons-png.flaticon.com/512/4964/4964263.png" alt="Chats">
    <span>Chats</span>
</div>
<div class="container">
    <div class="chats-container hide" id="chats-container">
        <% for(let chat of chats){ %>
            <li>
                <% if (locals.user.id == chat.sender.id) { %>
                    <h4><img src=<%= chat.receiver.avatar %> alt="Profile" style="height: 35px; width: 35px; border-radius:50%" ><%= chat.receiver.name %></h4>
                    <div>me: <%= chat.latestMessage %></div>
                <% } else { %>
                    <h4><img src=<%= chat.sender.avatar %> alt="Profile" style="height: 35px; width: 35px; border-radius:50%" ><%= chat.sender.name %></h4>
                    <div><%= chat.latestMessage %></div>
                    <% } %>

            </li>
        <% } %>

    </div>
    <div class="chats">
        <li>
            <h4><img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Profile"> User</h4>
        </li>
        <div class="single-chat">

        </div>
        <form action="">
            <input type="text" id="msg">
            <input type="button" value="Send"  id="send-message">
        </form>

    </div>


    <div class="aside">
        <h3>Start New Chat With </h3>
        <% for(user of users) { %>
            <li class="open-chat" user_Email="<%= user.email %>"><%= user.name %> </li>
        <% } %>

    </div>
</div>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/js/chats_section.js" type="text/javascript"></script>