<link rel="stylesheet" href="/css/homepage.css">
<div class="container">
    <div class="new-feed">
        <%- include('_createForm') %>
        <h4 id="post-heading">Posts</h4>
        <div class="posts" id="posts-container">
            <% if (posts) { %>
            <% for( let post  of posts) { %>
                <div class="post-card"  id="post-<%= post.id %>">
                    <div>
                        <img src="<%= post.user.avatar %>"  id="user-avatar">
                        <span id="user-name"><%= post.user.name %></span>
                    </div>
                    <% if (locals.user && locals.user.id==post.user.id) { %>         
                        <button class="delete-post-btn" postId="<%= post.id %>">
                            Delete
                        </button>
                        <% } %>
                    <div style="color: black; ">
                        <p><%= post.content %></p>
                        <% if (locals.user) { %> 
                            <a href="/likes/toggle?id=<%= post.id %>&type=Post" class="like-tag"> 
                                <img id="like-logo" src="https://cdn-icons-png.flaticon.com/512/1077/1077035.png" alt="like"         
                                >
                            </a>
                        <% } %>
                        
                            <% if (post.likes.length==0) { %>
                                <span style="font-size: 1rem; font-family: 'Courier New', Courier, monospace;">
                                    <span style="font-size: 1rem; font-family: 'Sorts Mill Goudy', serif;" id="post-like-<%= post.id %>">
                                        No
                                    </span>
                                    Likes
                                </span>
                            <% }else{ %>
                                <span style="font-size: 1rem; font-family: 'Courier New', Courier, monospace;">
                                    <span style="font-size: 1rem; font-family: 'Sorts Mill Goudy', serif;" id="post-like-<%= post.id %>">
                                        <%= post.likes.length %>
                                    </span>
                                    Likes
                                </span>
                                <% } %>
                        
                        <% if (locals.user) { %>
                            <form action="/comments/post-comment" method="POST" class="comment-form" id= "comment-form-<%= post._id %>" >
                                <textarea name="comment" id="" cols="30" rows="2" placeholder="Add comment"></textarea>
                                <input type="hidden" name="post"  value="<%= post._id %>">
                                <input type="submit" value="Comment" class="post-button" id="comment-button">
                            </form>
                        <% } %>
                    </div>
                    <div class="toggle-comments"  container="comments-container-<%= post.id %>">See Comments</div>
                    <div id="comments-container-<%= post.id %>" class="hide">
                        <% for( let  comment of post.comments) { %>
                            <li id="comment-<%= comment.id%>" class="single-comment">
                               <div> <%= comment.user.name %></div>
                               <div style="color: black;" >
                                    <small style="color: black;">  <%= comment.content %></small>
                                   <% if (locals.user) { %>
                                         <a href="/likes/toggle?id=<%= comment._id %>&type=Comment" class="like-tag"> 
                                        <img id="like-logo-C" src="https://cdn-icons-png.flaticon.com/512/1077/1077035.png" alt="like">
                                        </a>
                                   <% } %>
                                    
                                        <span>
                                            <span style="font-size: 1.2rem;" id="comment-like-<%= comment.id %>">
                                            <% if (comment.likes.length==0){ %>
                                             No 
                                            <% } else{ %>
                                             <%= comment.likes.length %>
                                            <% } %>
                                            </span>Likes
                                        </span>
                                        
                                        <% if (locals.user && ( post.user.id == locals.user.id  || comment.user.id == locals.user.id)) { %>
                                            <small>
                                                <button class="delete-comment" href="/comments/delete-comment/<%= comment.id %>"  >
                                                <img src="https://cdn-icons-png.flaticon.com/128/484/484560.png" style="height: 15px; width: 10pxpx;">
                                                </button>
                                            </small>
                                        <% } %>
                                </div>                                                                        
                            </li>
                        <% } %>
                       </div>
                </div>
                
            <% } %>
            <% } %>
        </div>

    </div>
  

    <div class="side-bar">
        <div class="side-element">
            <img src="https://cdn-icons-png.flaticon.com/512/4450/4450283.png" alt="friend">
            <div class="info">Friends Request</div>
            <div class="request-section">
                <% if (friendships.length>0) { %>
                    <% for( friend of friendships ) { %>
                        <div class="single-request">
                            <% if (friend.to_user.id == locals.user.id) { %>
                                <div><%= friend.from_user.name %></div>
                                <div class="buttton-container">
                                    <button>
                                        <a href="/user/accept-request?id=<%= friend.id  %>">Accept</a>
                                    </button>
                                    <button>
                                        <a href="/user/remove-friend?id=<%=friend.id  %>">Reject</a>
                                    </button>
                                </div>      
                            <% } %>
                        </div>
                    <% } %>
                <%} else {  %>
                    No new Request
                <% } %>
            </div>
        </div>
        <div class="side-element">
            <a href="/chats">
            <img src="https://cdn-icons-png.flaticon.com/512/4964/4964263.png" alt="chat">
            <div class="info">Chats</div>
            </a>
        </div>
        <div class="side-element">
            <img src="https://cdn-icons-png.flaticon.com/512/3220/3220829.png" alt="chat">
            <div class="info">Friends</div>
            <div class="request-section">
                <% if (friends.length>0) { %>
                    <% for( friend of friends ) { %>
                        <div class="single-request">
                        <a href="/user/profile-update/<%= friend.id %>" >
                            <p style="color: black;"><%=  friend.name %></p> 
                        </a>
                        </div>
                    <% } %>
                <%} else {  %>
                    No Friends
                <% } %>
            </div>
        </div>
        <div class="side-element">
            <img src="https://cdn-icons-png.flaticon.com/512/1165/1165725.png" alt="chat">
            <div class="info">All Users</div>
            <div class="request-section">
                <% for(user of users) { %>
                    <div class="single-request">
                        <a href="/user/profile-update/<%= user.id %>" >
                            <p style="color: black;"><%=  user.name %></p> 
                        </a>
                    </div>
                <% } %>
            </div>
        </div>
        
    </div>
</div>



<script src="/js/home_post.js"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/js/chat_engine.js"></script>

 
