<link rel="stylesheet" href="/css/homepage.css">
<div class="container">
    <div class="side1"></div>
    
     
    <div class="new-feed">

    <%- include('_createForm') %>


        <h3 id="post-heading">Posts</h3>
        <div class="posts" id="posts-container">
            <% if (posts) { %>

             <% for( let i  of posts) { %>
                <div class="post-card" id="post-<%= i.id %>">
                    <% if (locals.user && locals.user.id ==i.user.id) { %>
                        <p><a class="delete-post-btn" href="/posts/delete-post/<%= i.id %>">X</a> </p>
                    <% } %>
                    <div>
                    <p><%= i.user.name %></p>
                    <p> <%= i.content %></p>
                </div>
                <div>
                   <a href="/likes/toggle?id=<%= i.id %>&type=Post" class="like-tag"> 
                    <img id="like-logo" src="https://cdn-icons-png.flaticon.com/512/1077/1077035.png" alt="like">
                   </a>
                    <span><%= i.likes.length %></span>
                </div>
                  <% if (locals.user) { %>
                   
                    <form action="/comments/post-comment" method="POST" class="comment-form" id= "comment-form-<%= i._id %>" >
                        <textarea name="comment" id="" cols="30" rows="2" placeholder="Add comment"></textarea>
                        <input type="hidden" name="post"  value="<%= i._id %>">
                        <input type="submit" value="Comment" class="post-button" id="comment-button">
                    </form>
                  <% } %>

                    <div id="comments-container-<%= i.id %>">
                    <% for( let  p of i.comments) { %>
                        <li id="comment-<%= i.id  %>">
                           <% if (locals.user &&p.user.id==locals.user.id ) { %>
                            <small><a href="/comments/delete-comment/<%= p.id %>">D</a></small>
                           <% } %>
                            <p><%= p.content %> </p>
                            <p><%= p.user.name %></p>
                            <div>
                                <a href="/likes/toggle?id=<%= p._id %>&type=Comment" class="like-tag"> 
                                 <img id="like-logo" src="https://cdn-icons-png.flaticon.com/512/1077/1077035.png" alt="like">
                                </a>
                                 <span><%= (p.likes.length) %></span>
                             </div>
                        </li>

                    <% } %>
                </div>
                    </div>
                
                <% } %>
                <% } %>
        </div>

    </div>
  

    <div class="friends">
        <% if (users && locals.user) { %>
            <h3>Friends</h3>
        <% for( let i of users) { %>
          <a href="/user/profile-update/<%= i.id %>" > <p><%=  i.name %></p> </a>
        
        <% } %>
        <% } %>

    </div>
</div>
<script src="/js/home_post.js"></script>