<link rel="stylesheet" href="/css/homepage.css">
<div class="container">
    <div class="new-feed">
        <%- include('_createForm') %>
        <h4 id="post-heading">Posts</h4>
        <div class="posts" id="posts-container">
            <% if (posts) { %>
            <% for( let post  of posts) { %>
                <div class="post-card"  id="post-<%= post.id %>">
                    <div>
                        <img src="<%= post.user.avatar %>"  id="user-avatar">
                        <span id="user-name"><%= post.user.name %></span>
                    </div>
                    <% if (locals.user && locals.user.id==post.user.id) { %>         
                        <button class="delete-post-btn" postId="<%= post.id %>">
                            Delete
                        </button>
                        <% } %>
                    <div style="color: black; ">
                        <p><%= post.content %></p>
                        <% if (locals.user) { %> 
                            <a href="/likes/toggle?id=<%= post.id %>&type=Post" class="like-tag"> 
                                <img id="like-logo" src="https://cdn-icons-png.flaticon.com/512/1077/1077035.png" alt="like"         
                                >
                            </a>
                        <% } %>
                        
                            <% if (post.likes.length==0) { %>
                                <span style="font-size: 1rem; font-family: 'Courier New', Courier, monospace;">
                                    <span style="font-size: 1rem; font-family: 'Sorts Mill Goudy', serif;" id="post-like-<%= post.id %>">
                                        No
                                    </span>
                                    Likes
                                </span>
                            <% }else{ %>
                                <span style="font-size: 1rem; font-family: 'Courier New', Courier, monospace;">
                                    <span style="font-size: 1rem; font-family: 'Sorts Mill Goudy', serif;" id="post-like-<%= post.id %>">
                                        <%= post.likes.length %>
                                    </span>
                                    Likes
                                </span>
                                <% } %>
                        
                        <% if (locals.user) { %>
                            <form action="/comments/post-comment" method="POST" class="comment-form" id= "comment-form-<%= post._id %>" >
                                <textarea name="comment" id="" cols="30" rows="2" placeholder="Add comment"></textarea>
                                <input type="hidden" name="post"  value="<%= post._id %>">
                                <input type="submit" value="Comment" class="post-button" id="comment-button">
                            </form>
                        <% } %>
                    </div>
                    <div class="toggle-comments"  container="comments-container-<%= post.id %>">See Comments</div>
                    <div id="comments-container-<%= post.id %>" class="hide">
                        <% for( let  comment of post.comments) { %>
                            <li id="comment-<%= comment.id%>" class="single-comment">
                               <div> <%= comment.user.name %></div>
                               <div style="color: black;" >
                                    <small style="color: black;">  <%= comment.content %></small>
                                   <% if (locals.user) { %>
                                         <a href="/likes/toggle?id=<%= comment._id %>&type=Comment" class="like-tag"> 
                                        <img id="like-logo-C" src="https://cdn-icons-png.flaticon.com/512/1077/1077035.png" alt="like">
                                        </a>
                                   <% } %>
                                    
                                        <span>
                                            <span style="font-size: 1.2rem;" id="comment-like-<%= comment.id %>">
                                            <% if (comment.likes.length==0){ %>
                                             No 
                                            <% } else{ %>
                                             <%= comment.likes.length %>
                                            <% } %>
                                            </span>Likes
                                        </span>
                                        
                                        <% if (locals.user && ( post.user.id == locals.user.id  || comment.user.id == locals.user.id)) { %>
                                            <small>
                                                <button class="delete-comment" href="/comments/delete-comment/<%= comment.id %>"  >
                                                <img src="https://cdn-icons-png.flaticon.com/128/484/484560.png" style="height: 15px; width: 10pxpx;">
                                                </button>
                                            </small>
                                        <% } %>
                                </div>                                                                        
                            </li>
                        <% } %>
                       </div>
                </div>
                
            <% } %>
            <% } %>
        </div>

    </div>
  

    <div class="side-bar">
        <% if (locals.user) { %>
        <div class="header" id="chat-section">
            <a href="/chats">
            <img src="https://cdn-icons-png.flaticon.com/512/4964/4964263.png" alt="" id="chat-logo">
            <span>Chat Section</span>
            </a>
        </div>
        <div class="friends">
            <h3>Friends</h3>
        </div>
        <% } %>

        <div class="all-users" >
            <% if (users && locals.user) { %>
                <h3>All Users</h3>
            <% for( let i of users) { %>
            <a href="/user/profile-update/<%= i.id %>" > <p style="color: black;"><%=  i.name %></p> </a>
            <% } %>
            <% } %>
        </div>

    </div>
</div>
<script src="/js/home_post.js"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/js/chat_engine.js"></script>

 
