<link rel="stylesheet" href="/css/homepage.css">
<div class="container">
    <div class="new-feed">
        <%- include('_createForm') %>

        <h4 id="post-heading">Posts</h4>
        <div class="posts" id="posts-container">
            <% if (posts) { %>
            <% for( let post  of posts) { %>
                <div class="post-card"  id="post-<%= post.id %>">
                    <div>
                        <img src="<%= post.user.avatar %>"  id="user-avatar">
                        <span id="user-name"><%= post.user.name %></span>
                        <% if (locals.user && locals.user.id==post.user.id) { %>         
                        <button class="delete-post-btn">
                            <a href="/posts/delete-post/<%= post.id %>">Delete</a>
                        </button>
                        <% } %>
                    </div>
                    <div style="color: black; ">
                        <p  ><%= post.content %></p>
                        <% if (locals.user) { %> 
                            <a href="/likes/toggle?id=<%= post.id %>&type=Post" class="like-tag"> 
                                <img id="like-logo" src="https://cdn-icons-png.flaticon.com/512/1077/1077035.png" alt="like">
                            </a>
                        <% } %>
                        <span>  <span style="font-size: 1.5rem;"><%= post.likes.length %></span>   Likes</span>
                        <% if (locals.user) { %>
                            <form action="/comments/post-comment" method="POST" class="comment-form" id= "comment-form-<%= post._id %>" >
                                <textarea name="comment" id="" cols="30" rows="2" placeholder="Add comment"></textarea>
                                <input type="hidden" name="post"  value="<%= post._id %>">
                                <input type="submit" value="Comment" class="post-button" id="comment-button">
                            </form>
                        <% } %>
                    </div>
                    <div class="toggle-comments" container="comments-container-<%= post.id %>">See Comments</div>
                    <div id="comments-container-<%= post.id %>" class="hide">
                        <% for( let  comment of post.comments) { %>
                            <li id="comment-<%= comment.id  %>" class="single-comment">
                               <div> <%= comment.user.name %></div>
                               <div style="color: black;" >
                                    <small style="color: black;">  <%= comment.content %></small>
                                   <% if (locals.user) { %>
                                    
                                         <a href="/likes/toggle?id=<%= comment._id %>&type=Comment" class="like-tag"> 
                                        <img id="like-logo-C" src="https://cdn-icons-png.flaticon.com/512/1077/1077035.png" alt="like">
                                        </a>
                                   <% } %>
                                    
                                        <span><span style="font-size: 1.2rem;"><%= (comment.likes.length) %></span> Likes</span>
                                        
                                        <% if (locals.user &&comment.user.id==locals.user.id ) { %>
                                            <small>
                                                <a href="/comments/delete-comment/<%= comment.id %>">
                                                <img src="https://cdn-icons-png.flaticon.com/512/10684/10684706.png" style="height: 15px; width: 10pxpx;">
                                                </a>
                                            </small>
                                        <% } %>
                                </div>                                                                        
                            </li>
                
                        <% } %>
                       </div>
                </div>
                
            <% } %>
            <% } %>
        </div>

    </div>
  

    <div class="side-bar">

        <% if (locals.user) { %>
        <div class="friends">
            <h3>Friends</h3>
        </div>
        <% } %>

        <div class="all-users" >
            <% if (users && locals.user) { %>
                <h3>All Users</h3>
            <% for( let i of users) { %>
            <a href="/user/profile-update/<%= i.id %>" > <p style="color: black;"><%=  i.name %></p> </a>
            <% } %>
            <% } %>
        </div>

    </div>
    <%- include('_chatBox') %>
</div>
<script src="/js/home_post.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script> -->
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/js/chat_engine.js"></script>
<% if (locals.user) { %> 
<script>
    console.log('script loaded')
    new ChatEngine('user-chat-box','<%= locals.user.email %>');
</script>
<% } %>
 
