<link rel="stylesheet" href="/css/homepage.css">
<div class="container">
    <div class="side1"></div>
    
     
    <div class="new-feed">
        <%- include('_createForm') %>


        <h3 id="post-heading">Posts</h3>
        <div class="posts">
            <% if (posts) { %>

             <% for( let i  of posts) { %>
                <div class="post-card">
                    <% if (locals.user && locals.user.id ==i.user.id) { %>
                        <p><a href="/delete-post/<%= i.id %>">X</a> </p>
                    <% } %>

                    <p><%= i.user.name %></p>
                    <p> <%= i.content %></p>
                  <% if (locals.user) { %>
                   
                    <form action="/post-comment" method="POST">
                        <textarea name="comment" id="" cols="30" rows="2" placeholder="Add comment"></textarea>
                        <input type="hidden" name="post"  value="<%= i._id %>">
                        <input type="submit" value="Comment" class="post-button" id="comment-button">
                    </form>
                  <% } %>


                    <% for( let  p of i.comments) { %>
                        <li >
                           <% if (locals.user &&p.user.id==locals.user.id ) { %>
                            <small><a href="/delete-comment/<%= p.id %>">D</a></small>
                           <% } %>
                            <p><%= p.content %> </p>
                            <p><%= p.user.name %></p>
                        </li>

                    <% } %>
                    </div>
                
             <% } %>
            <% } %>
        </div>

    </div>
  

    <div class="friends">
        <% if (users && locals.user) { %>
            <h3>Friends</h3>
        <% for( let i of users) { %>
          <a href="/profile-update/<%= i.id %>" > <p><%=  i.name %></p> </a>
        
        <% } %>
        <% } %>

    </div>
</div>
<script src="/js/home_post.js"></script>