<link rel="stylesheet" href="/css/homepage.css">
<div class="container">
    <div class="side1"></div>
    
     
    <div class="new-feed">
        <% if (locals.user) { %>
            <h3>Create a new post </h3>
        <form action="/create-post"  method="POST" id="post-form">
            <textarea placeholder="Type here...." name="content" id="content" cols="30" rows="4"></textarea>
            <input type="submit" value="Create Post  " id="post-button">
        </form>
        <% } %>

        <div class="posts">
            <% if (posts) { %>
        <h3><%= posts?"Posts":"No Posts to show" %></h3>

             <% for( let i  of posts) { %>
                <li>
                    <% if (locals.user && locals.user.id ==i.user.id) { %>
                        <p><a href="/delete-post/<%= i.id %>">X</a> </p>
                    <% } %>

                    <p><%= i.user.name %></p>
                    <p> <%= i.content %></p>
                  <% if (locals.user) { %>
                   
                    <form action="/post-comment" method="POST">
                        <textarea name="comment" id="" cols="30" rows="2" placeholder="Add comment"></textarea>
                        <input type="hidden" name="post"  value="<%= i._id %>">
                        <input type="submit" value="Comment">
                    </form>
                  <% } %>


                    <% for( let  p of i.comments) { %>
                        <li >
                           <% if (p.user.id==locals.user.id) { %>
                            
                            <small><a href="/delete-comment/<%= p.id %>">D</a></small>
                           <% } %>

                            <p><%= p.content %> </p>
                            <p><%= p.user.name %></p>
                        </li>

                    <% } %>
                </li>
                
             <% } %>
            <% } %>
        </div>

    </div>
  

    <div class="friends"></div>
</div>