<html>
    <head>
        <title>
            <%= title %>
        </title>
        <%- style %>
    </head>

    <%- include('_header') %>

    <%- body %>

    <%- include('_footer') %>
    <%- script %>
</html>