<img src="<%= userw.avatar%>" alt="profile"  height="100px" width="100px">
<p><%= userw.name %></p>
<p>
    <%= userw.email %>
</p>


<% if (locals.user.id == userw.id) { %>
    <form method="POST" action="/user/update-user-profile" enctype="multipart/form-data">
        <input type="text" name="name" value="<%= user.name %>">
        <input type="text" name="email" value="<%=  user.email %>">
        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="Update">
    </form>
 
<% } %>